*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    max-width: 1000px;
}

.clearfix {
    clear: both;
}

.title {
    color: rgb(222, 51, 106);
}

.title, .text {
    margin: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}

.card {
    width: 300px;
    height:80px;
    background-color:  rgb(30, 30, 46);
    border: 1px solid black;
    margin: 20px 10px;
    float: left;
    color: white;
}

img {
    width: 80px;
    float: left;
}

.right-side {
    margin: 10px;
}

.name {
    font-size: 15px;
    margin-bottom: 3px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.work {
    font-size: 12px;
    margin-bottom: 2px;
}

.address {
    font-size: 12px;
    color: rgb(33, 153, 217);
}

